{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% if form.errors %}
            <!-- 에러발생시 -->
            <h1>{{ form.errors }}</h1>
        {% endif %}
        <!-- 로그인 폼 -->
        <form method="post" action="{% url 'users:password_change' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            {{ form.as_p }}
            <button type="submit">비밀번호 바꾸기</button>
        </form>
    </div>
{% endblock content %}