{%  extends "posts/base.html" %}

{% block navbar %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>{{object.title}}<span class="small"> {{ object.author }} | {{ object.modify_date}}</span></h1>
                <a href="{% url 'posts:delete' pk=object.id %}">삭제하기</a>
                /<a href="{% url 'posts:update' pk=object.id %}">수정하기</a>
            </div>
            <div class="panel-body">
                <p>{{object.content|safe}}</p>
            </div>
        </div>
        {% if object_list %}
            <div class="panel panel-default">
                <div class="panel-heading">댓글</div>
                <table class="table">
                    <tbody>
                    {% for comment in object_list %}
                        <tr>
                            <td>
                                {{ comment.author }}: {{ comment.content }} ({{ comment.created_date }})
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        <form action="{% url 'posts:detail' pk=post.id %}" method="post" accept-charset="utf-8">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name='content' class="form-control" placeholder="댓글내용을 입력해주세요.">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">댓글달기</button>
                </span>
            </div><!-- /input-group -->
        </form>
        <nav aria-label="...">
            <ul class="pager">
                {% if object.get_prev %}
                    <li class="previous"><a href="{{ object.get_prev.get_absolute_url }}"><span aria-hidden="true">&larr;</span> 이전글</a></li>
                {% endif %}
                {% if object.get_next %}
                    <li class="next"><a href="{{ object.get_next.get_absolute_url }}">다음글 <span aria-hidden="true">&rarr;</span></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock content %}